<div class="container mt-4">
  @if (orders.length) {
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer">
        <thead class="thead-light">
          <tr>
            <th>Order</th>
            <th>Total</th>
            <th>Delivery Method</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (order of orders; track order.id) {
          <tr routerLink="/orders/{{ order.id }}">
            <th># {{ order.id }}</th>
            <td>{{ order.orderDate | date : "medium" }}</td>
            <td>{{ order.deliveryMethod }}</td>
            <td>{{ order.total | currency : "EUR" }}</td>
            <td>
              <span class="badge" [ngClass]="getStatusStyles(order.status)">{{
                getStatusText(order.status)
              }}</span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  } @else {
  <p>There are no orders in your name!</p>
  }
</div>
