<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'home'"
    class="py-3"
    style="margin-top: 80px; background-color: #f5f5f5"
  >
    <div class="container">
      <div class="d-flex align-items-center">
        <xng-breadcrumb [separator]="iconTemplate">
          <ng-template #iconTemplate>
            <i class="bi bi-arrow-right"></i>
          </ng-template>
          <ng-container
            *xngBreadcrumbItem="
              let breadcrumb;
              let info = info;
              let first = first
            "
          >
            <i *ngIf="first" class="bi bi-house me-1"></i>
            <ng-container>{{ breadcrumb | titlecase }}</ng-container>
          </ng-container>
        </xng-breadcrumb>
      </div>
    </div>
  </section>
</ng-container>
